<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>inZion.com</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{$stlDir}styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="enter">
	<div style="margin-left:40px;">
	<img src="{$imgDir}logo.png" alt="InZion.com" /><p style="margin-left: 15px;">Admin panel</p>	
	</div>
	<form method="post" action="{$siteAdr}">
		<p><input class="txt" type="text" name="system_login" value="login" onclick="if (this.value == 'login') this.value='';" /></p>
		<p><input class="txt" type="password" name="system_pass" value="" /></p>
		<p style="text-align:right"><input type="submit" value="Enter" /></p>
	</form>
</div>
</body>
</html>