{*<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />*}

<div class="content">
	<div id="leftbar">
	  <h1 style="font-size: 14px;">&nbsp;Missions</h1>
		<div class="menu">
		    <ul>
				<li><a href="{$siteAdr}base/mission/edit/">Add mission</a></li>
			</ul>
		</div>
	</div>
	<div id="rightbar">
	    <form method="post" action="{$siteAdr}base/mission/">

		
		<h1 style="font-size: 14px;">Missions</h1><br />
		{if $pl}
		<table class="table01">
			<tr>
				<th width="40%">Title</th>
				<th width="14%">Location</a></th>
				<th width="7%" colspan="2">Actions</a></th>
			</tr>
			{foreach key=k item=i from=$pl}
			<tr class="td01">
				<td class="green-txt"><a href="{$siteAdr}base/mission/edit/?id={$i.id}">{$i.title} ({$i.city}{if $i.region}, {$i.region}{/if}, {$i.country})</a></td>
				<td class="green-txt">{$i.pagename}</td>
				
				<td class="green-txt"><a href="{$siteAdr}base/mission/edit/?id={$i.id}"><img src="{$imgDir}ico/icon_edit.gif" alt="Change" /></a></td>
				<td class="green-txt"><a href="javascript: CGo('{$siteAdr}base/mission/del/?id={$i.id}', 'Do you want to delete page?');"><img src="{$imgDir}ico/icon_del.gif" alt="Delete" /></a></td>
			</tr>
            {/foreach}
		</table>
                <div style="margin-left:150px;">{$pagging}</div>
                {else}
		    No pages
		{/if}

		</form>
	</div>
</div>