<h2>inZion.com Frequently Asked Questions</h2>

<div class="reg-form" >

<b style="font-size: 12px;text-decoration: underline;">How do I upload a photo to my Profile?</b><br />
<div style="height:7px;clear: both;"><!-- --></div>
Click the Flower Symbol <img src="/i/faq1.png" alt="" /> found in the top-left corner of the page, and you will be prompted to upload a photo.
<br /><br /><br />

<b style="font-size: 12px;text-decoration: underline;">How do I search for other Members?</b><br />
<div style="height:7px;clear: both;"><!-- --></div>
You can search for a specific member by name through the search box found at the top of the page. You can also browse members by name, singles or other relationship status, or additional search parameters by clicking the appropriate filter found immediately below the search box. Use the various search filters to narrow your search, or to find a specific member.
<br /><br /><br />

<b style="font-size: 12px;text-decoration: underline;">How do I search Journal Entries or other Posts?</b><br />
<div style="height:7px;clear: both;"><!-- --></div>
You can search members' Journal Entries or other posts with an "everyone" or public designation by keyword(s).  Simply type the desired keyword(s) into the search box found at the top of the page, and then click the appropriate filter such as Journals, Missions or Stakes/Wards found immediately below the search box.
<br /><br />
You can also browse Journal Entries or other posts marked for "everyone" by clicking the appropriate filter such as Journals, Missions or Stakes/Wards found immediately below the search box, when the search box is empty.
<br /><br /><br />

<b style="font-size: 12px;text-decoration: underline;">How do I send a message to a specific Member?</b><br />
<div style="height:7px;clear: both;"><!-- --></div>
You can send your friend a direct message by clicking the “Chat” tab located at the top of the page. A list of all of your friends will appear. Select a friend and type a message in the dialog box. Only you and your friend will see your message, and the exchange of messages which follows.
<br /><br />
You may also send a message to a member on their wall.  Click on any member to pull up their profile.  Then depending on that member’s privacy setting, you may be able to send that member a message by typing it into the dialog box at the top of the page.  If you select “private” using the “Share with” filter found right below the dialog box, the message will be sent only to this member.
<br /><br /><br />

<b style="font-size: 12px;text-decoration: underline;">How do I add a Friend?</b><br />
<div style="height:7px;clear: both;"><!-- --></div>
After pulling up a member’s profile page, click the “Add as a friend” link, which is among the links located below a member’s name.
<br /><br /><br />

<b style="font-size: 12px;text-decoration: underline;">How can I tell which of my Friends are online?</b><br />
<div style="height:7px;clear: both;"><!-- --></div>
When you click the “Chat” tab found at the top of the page, a list of all of your friends will appear.  Clicking the “Online” filter found just above the list of friends will narrow the list just to those friends who are online.
<br /><br /><br />

<b style="font-size: 12px;text-decoration: underline;">What is the Ward Feed?</b><br />
<div style="height:7px;clear: both;"><!-- --></div>
The Ward Feed is a centralized wall where members may post messages to all members of their Ward or Stake.  Both the Ward and Stake feeds are controlled through the single Ward Feed.  Selecting either “ward” or “stake” in the  “Share with” filter found right below the dialog box will permit you to send a message to either your Ward or to your entire Stake.
<br /><br />
Ward and Stake members are able to leave comments to any post in the Ward Feed, with the comments visible to all members of the Ward or Stake.   As members of your Ward or Stake join inZion.com and specify their Ward/Stake, they will automatically be added to your Ward Feed.
<br /><br /><br />

<b style="font-size: 12px;text-decoration: underline;">Why should I include my Ward and Stake information in my Profile?</b><br />
<div style="height:7px;clear: both;"><!-- --></div>
Each Ward and Stake has its own unique feed on inZion.com.  The Ward Feed is a centralized wall where members may post messages to all members of their Ward or Stake.
<br /><br />
Both the Ward and Stake feeds are controlled through the single Ward Feed.  Selecting either “ward” or “stake” in the  “Share with” filter found right below the dialog box will permit you to send a message to either your ward or to your entire stake.
<br /><br />
When you specify your Ward and Stake in your profile, you will automatically be added to the Ward Feed for your ward/stake.
<br /><br /><br />

<b style="font-size: 12px;text-decoration: underline;">If my Ward/Branch or Stake is not in your database, what do I do to add it?</b><br />
<div style="height:7px;clear: both;"><!-- --></div>
Under ”My info” edit  “Church-related Information.”  Click the “Haven’t found your ward?” link found directly under the Ward/Branch field.  Input the Stake, Ward, and location of the ward (city and state).  You can input this information for any country.
<br /><br />
If you don’t see your city listed in our database, please contact us by either post a message on our wall, or through Contact Us page.  We will then add the city to our database; otherwise, adding Stake and Ward won’t be possible.
<br /><br /><br />

<b style="font-size: 12px;text-decoration: underline;">Why should I post to my Journal Feed?</b><br />
<div style="height:7px;clear: both;"><!-- --></div>
InZion.com’s Journal allows you to create and maintain your journal in digital form.   Not only will your journal be searchable and accessible to you from any computer with an internet connection, but the journal entries will be saved for posterity, so your children, grandchildren and future generations will be able to read your posts to learn about you and significant events in your life and of those nearest to you.
<br /><br />
There is seldom enough time during meetings for all who wish to share their testimonies. Now those previously untold stories and messages of faith and inspiration will be told in the inZion.com Journal to be read by LDS from around the world.  Simply post your testimony (thankamony) to your Journal and Tag it as “My Church Talks.”  Also next time you are preparing a testimony on a given subject, search the inZion.com Journal to see what other members have said on the subject.
<br /><br /><br />

<b style="font-size: 12px;text-decoration: underline;">What is the Mission tab and how does it work?</b><br />
<div style="height:7px;clear: both;"><!-- --></div>
The Mission tab allows you to stay connected with members who served mission with you.  The Mission Feed is a centralized wall where members may post messages to all members who served the same mission. Fellow missionaries are able to leave comments to any post in their Mission Feed, with the comments visible to all those who served the mission.  As your fellow missionaries join inZion.com and specify their mission, they will automatically be added to your Mission Feed.
<br /><br /><br />

<b style="font-size: 12px;text-decoration: underline;">How do I add photos to my Posts or Messages?</b><br />
<div style="height:7px;clear: both;"><!-- --></div>
To add a photo to a post or message, click  the Photo Symbol <img src="/i/faq3.png" alt="" /> found either right below or directly above the message dialog box.  You will be prompted to upload a photo or to enter the photo’s URL (the web address of the photo).
<br /><br /><br />

<b style="font-size: 12px;text-decoration: underline;">What are Photo Albums and how do they work?</b><br />
<div style="height:7px;clear: both;"><!-- --></div>
Our site allows you to create photo albums for organizing your photos. Each photo album can then be shared with your choice of members.
<br /><br />
To create a photo album, click the “Photo albums” tab found on the left side of the page.  Next click “Add a New Album” tab found in the top-right corner of the page.  Fill in the Album name, location and description (optional), choose the categories of members you wish to share the album with through the Share With drop down menu, and click Add to create the Album.  Once you create one or more albums, choose an album and click  the “Add a photo to this album” tab found in the top-right corner of the page to add photos to the album.
<br /><br /><br />

<b style="font-size: 12px;text-decoration: underline;">How do I add Videos to my Posts or Messages?</b><br />
<div style="height:7px;clear: both;"><!-- --></div>
To add a video to a post or message, click the Video Symbol <img src="/i/faq4.png" alt="" /> found either right below or directly above the message dialog box.  You will be prompted to insert an embed code for the video you wish to add.  Videos are added through embed codes for videos posted to sites such as <a href="http://YouTube.com" target="_blank">YouTube.com</a>, <a href="http://vimeo.com" target="_blank">Vimeo</a>, and other video sites.
<br /><br /><br />

<b style="font-size: 12px;text-decoration: underline;">What are Video Albums and how do they work?</b><br />
<div style="height:7px;clear: both;"><!-- --></div>
InZion allows you to create video albums for organizing your videos. Your video albums are shared with categories of members depending on your privacy settings.
<br /><br />
To create a video album, click the “Video albums” tab found on the left side of the page.  Next click “Add a New Album” tab found in the top-right corner of the page.  Fill in the Album name and description (optional) and click Add to create the Album.  Once you create one or more video albums, choose an album and click the “Add a new embed video” tab found in the top-right corner of the page to add videos to the album.
<br /><br />
Videos are added through embed codes for videos posted on sites such as <a href="http://YouTube.com" target="_blank">YouTube.com</a>, <a href="http://vimeo.com" target="_blank">Vimeo</a>, etc.
<br /><br /><br />

<b style="font-size: 12px;text-decoration: underline;">How do I control who can see my Profile and Posts?</b><br />
<div style="height:7px;clear: both;"><!-- --></div>
You can control who can see your profile details and posts through the Privacy Settings under “My Info.”  Please refer to our Privacy Policy for a detailed explanation of inZion’s Privacy Settings.
<br /><br /><br />

<b style="font-size: 12px;text-decoration: underline;">I have never used a social network before.  How does the site work?</b><br />
<div style="height:7px;clear: both;"><!-- --></div>
InZion.com is a social networking and messaging system.  It enables LDS members to interact with one another, either one-on-one or through posts to categories of members such as their friends, family, members of their ward/stake or their fellow missionaries.
<br /><br />
Members can personalize their profiles by uploading a profile picture, creating photo and video albums, and including information about themselves and their interests in their profile through the My Info tab.
<br /><br />
You can search for members by name, gender, age and geographical location, among other parameters.  You can invite members to become your friends.  Once they accept your invitation, they will be added to your Friends list.  You will be able to exchange direct messages with them through the “Chat” tab, and will gain access to their profile information,  generally including any of their photo and video albums.
<br /><br />
The site’s various features and functionalities are discussed and described in greater detail in the subject-specific Frequently Asked Questions appearing in this list.  Members are encouraged to take their time in exploring the site and its many features.
<br /><br /><br />

<b style="font-size: 12px;text-decoration: underline;">How is inZion.com different from Facebook?  Why do I need to be on inZion when I have many friends on Facebook already?</b><br />
<div style="height:7px;clear: both;"><!-- --></div>
InZion.com is not just a social network. It is a social networking and messaging system designed to address the particular needs of LDS.  Aside from its many LDS specific features such as the Ward/Stake and Mission Feeds and the online searchable and interactive Journal,  inZion offers its members the opportunity to interact with their LDS friends, family and church members, as well as LDS from around the world, and to share their testimony and strenghten their gospel in a nurturing and supportive environment.
<br /><br /><br />

<b style="font-size: 12px;text-decoration: underline;">Is inZion.com affiliated with the LDS Church?</b><br />
<div style="height:7px;clear: both;"><!-- --></div>
No.  Although inZion.com seeks to be a valuable resource for LDS members and to adhere to and support LDS standards, it has no official affiliation with or endorsement from the LDS Church.  We are, however, LDS members and your brothers and sisters in Zion.
<br /><br /><br />

<b style="font-size: 12px;text-decoration: underline;">Why should I search the Internet on inZion.com?</b><br />
<div style="height:7px;clear: both;"><!-- --></div>
 Now searching the web with inZion Web Search (powered by Google) will allow you to receive all of the benefits of Google's powerful search engine, but without all the inappropriate content, which is filtered out.  InZion Web Search is safe to use for your family, your children, and you!  In addition, by using inZion Web Search, you support our project and help us grow inZion.com and develop more new and exciting features.  To use inZion Web Search, simply type in your search query into the search bar found at the top of the page, and click "web" (first tab immediately below the search bar).  
<br /><br /><br />

<b style="font-size: 12px;text-decoration: underline;">I found a bug or have a suggestion.  How do I tell you about it?</b><br />
<div style="height:7px;clear: both;"><!-- --></div>
If you have any suggestions about how to improve inZion, or if something isn’t functioning as it should, please let us know through the Contact Us link at the bottom of the page, or send us an email to <a href="mailto:admin@inzion.com">admin@inzion.com</a>.
 
</div>

