			{if $ar_subscribition}
				<div id="id_subscribition_list" class="cl_subscr_list">
				<h2>Journals I follow List</h2>
				{foreach item=subsc from=$ar_subscribition key=sk}
				<div class="box001">
					<div class="post-box">
						<div class="post-box-bg00" style="min-height: 40px">
							<div class="b-awatar"><a href="javascript: void(0);" onclick="javascript: $('#id_dropbox_subsc_{$i.wuid}').slideToggle('slow');"><img src="{if $subsc.image}{$fImgDir}users/{$subsc.fpath}/s/s_{$subsc.image}{else}{$imgDir}no_photo_m66.jpg{/if}"  style="width: 66px; height: 66px;" /></a></div>

							<div class="post-title2"><b><a href="{$siteAdr}id{$subsc.wuid}/journal">{if $subsc.first_name || $subsc.last_name}{$subsc.first_name} {$subsc.last_name}{else}{$subsc.public_name}{/if}</a></b></div>
						</div>
					</div>
				</div>
				{/foreach}

                                <span id="pagging">{$pagging}</span>

                                </div>
			{/if}

			{if !$ar_subscribition}
				<h2>Followers and Subscriptions' List</h2>
				<div class="box001">
					<div class="post-box">
						There isn't any info
					</div>
				</div>
			{/if}
