					<div class="post-box" style="min-height: 45px">
						<div class="b-awatar"><a href="{$siteAdr}id{$alb_i.uid}/valbums/id{$alb_i.vaid}"><img src="{$imgDir}no_photo_m66.jpg"  /></a></div>
						
						<div class="post-title2"><b><a href="{$siteAdr}id{$alb_i.uid}/valbums/id{$alb_i.vaid}">{$alb_i.name}</a></b></div>
						<p><b>Created:</b> {if $alb_i.created} {$alb_i.created} {else} &nbsp {/if}</p>
						<p><b>Description:</b>{if $alb_i.descr} {$alb_i.descr} {else} &nbsp {/if}</p>
						
					</div>