<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>inZion contact form</title>
</head>
<body>
<br />

<table>
<tr>
    <td>Message:</td><td>{$fm.mesg}</td>
</tr>
<tr>
    <td>Name:</td><td>{$fm.name}</td>
</tr>
<tr>
    <td>Email:</td><td>{$fm.email}</td>
</tr>
{if $fm.occupation}
<tr>
    <td>Occupation:</td><td>{$fm.occupation}</td>
</tr>
{/if}
{if $fm.organization}
<tr>
    <td>Organization:</td><td>{$fm.organization}</td>
</tr>
{/if}
<tr>
    <td>Country:</td><td>{assign var="ov" value=$fm.country}{$countries.$ov}</td>
</tr>
</table>
<br />
</body>
</html>