<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Restore your inZion password</title>
</head>
<body>
<br />
Restore your inZion password<br />
*YOU MUST FOLLOW THE INSTRUCTIONS BELOW.*<br />
Please do not reply to this email.<br /><br />

To restore your password, please click on the link below or<br />
copy and paste it into the URL (address field) of your Internet<br />
browser. This will complete<br />
the confirmation process.<br />
==============================================================<br />
<a href="http://{$DOMEN}/security/users/forgot?code={$code}">http://{$DOMEN}/security/users/forgot?code={$code}</a><br />
==============================================================<br />
(Note: This link is valid for three days.)<br /><br />

Thank you for using inZion!<br /><br />

Customer Support<br />
inZion.com<br />
http://www.inzion.com<br />
</body>
</html>