<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{if $info.user_first_name || $info.user_last_name} {$info.user_first_name} {$info.user_last_name} {else} {$info.user_public_name} {/if} was added to your Mission on inZion </title>
</head>
<body>
Dear {if $u_rec.gender == 2}Sister{elseif $u_rec.gender == 2}Brother{/if} {if $u_rec.first_name || $u_rec.last_name} {$u_rec.first_name} {$u_rec.last_name} {else} {$u_rec.public_name} {/if},
<br />
Recently, {if $info.user_first_name || $info.user_last_name} {$info.user_first_name} {$info.user_last_name} {else} {$info.user_public_name} {/if} was added to your Mission.
<br />
<br />
<a href="{$siteroot}{$u_rec.uid}/mission/id{$info.mid}">{$siteroot}{$u_rec.uid}/mission/id{$info.mid}</a>
<br />
<br />
Thank you,
<br />
<br />
inZion Team
<br />
<br />
<br />
PLEASE DONATE! Even $1 makes a difference! Our service is FREE to our members and we intend to keep it that way. However, we rely on member donations to help us with development and operating costs, and to enable us to improve inZion.com and add new features.  If you would like to make a contribution, please click the link below:
<br />
<a href="http://inzion.com/donate.html ">http://inzion.com/donate.html</a>
<br />
Thank you for your support from all of us at <a href="http://inzion.com/">inZion</a>.
<br />
<br />
<br />
<br />
</body>
</html>